<div class='comment'>

<div class='comment-container'>
  <p><%= comment.body %></p>
  <h6>posted by <%= comment.user.username %> on <%= comment.created_at.strftime('%m/%d/%y') %></h6>
</div>

<% if logged_in? && current_user.id == comment.user_id %>
<p>
  <%= link_to 'Delete Comment', [comment.game, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<hr>

</div>
