<div class="jumbotron">
<h1>Find Users</h1>

<form id="live-search-form" method="get" action="users/search">
  <input id="big-search-box" name="q" type="text"/>

</form>

<div id="live-search-results"></div>

</div>
