<div class="jumbotron">
<h1>List of Users</h1>

<% @users.each do |user| %>
  <div class='user-container'>
    <h2><a href="/users/<%= user.id %>"><%= user.username %></a></h3>
  </div>
<% end %>

</div>
