.red-border {
  border: 1px solid red;
}

.jumbotron {
  padding: 60px;
}

.collection {
  display: inline-block;
  padding-left: 20px;
  border: 1px solid black;
  background: white;
  width: 400px;
  vertical-align: top;
  min-height: 130px;
}

.game-container {
  border: 1px solid black;
  background: white;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 500px;
  text-align: center;
}

.game-description {
  width: 300px;
  text-align: left;
  margin: auto;
}

.edit-btns {
  vertical-align: bottom;
}

.inline {
  display: inline-block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
