<div class="jumbotron">
  <div id='map-title'><h1>Store Locator</h1></div>
  <div id="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvOKW8hJj2zZNBHvfGk_XSjWyEN_aBgzw&libraries=places&callback=initMap"></script>
